<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Toys</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
</head>

<body>

    <h1>Basket</h1>
    <ul>
        <% products.forEach(product=> { %>
            <li>
                <strong>Name:</strong>
                <%= products.name %><br>
                    <img src="<%= products.image %>" alt="<%= products.name %>"><br>
                    <strong>Description:</strong>
                    <%= products.description %><br>
                        <strong>Price:</strong>
                        £<%= products.price %><br>
                            <strong>Quantity</strong>
                            <%= product.quantity %>
            </li>
            <button onclick=>>Add to Basket</button>
            <% }); %>
    </ul>



</body>

</html>